<div id="header">
    <div class="logo">
      <a routerLink="/">VIRTOSTACK</a>
    </div>
    <nav>
      <form class="search" action="search.php">
        <input name="q" placeholder="Search..." type="search">
      </form>
      <ul>
        <li>
          <a routerLink="/">Home</a>
        </li>
      
        <li class="dropdown">
          <a routerLink="/person" >Person</a>
          
        </li>
        <!-- <li class="dropdown">
          <a routerLink="/contact">Contact</a>
          <ul>
            <li>
              <a routerLink="/contact-us">Contact Us</a>
            </li>
          </ul>
        </li> -->
      </ul>
    </nav>
  </div>
  